# Database
DATABASE_URL=mongodb+srv://user:password@cluster.mongodb.net/database

# NextAuth
NEXTAUTH_SECRET=your-secret-key-here
NEXTAUTH_URL=http://localhost:3000

# OpenAI
OPENAI_API_KEY=sk-proj-your-api-key-here
